/*----------------------------------------------------------------------------------------------*/
/*  PURE SCSS LIBRARY                                                                           */
/*----------------------------------------------------------------------------------------------*/
/*                                                                                              */
/*  Name    :   List                                                                            */
/*  Version :   1.0.0                                                                           */
/*  Git     :   https://github.com/TuruncuInternetSolutions/pure.git                            */
/*                                                                                              */
/*  by Turuncu Internet Solutions                                                               */
/*  www.turuncuweb.net                                                                          */
/*                                                                                              */
/*----------------------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------------------*/
// Unstyled list
/*----------------------------------------------------------------------------------------------*/
@mixin pure-list-unstyled() {
    list-style: none;
    margin: 0;
    padding: 0;
}
/*----------------------------------------------------------------------------------------------*/
// Inline list
/*----------------------------------------------------------------------------------------------*/
@mixin pure-list-inline() {
    @include pure-list-unstyled();

    > li {
        display: inline-block;
    }
}
