/*----------------------------------------------------------------------------------------------*/
/*  PURE SCSS LIBRARY                                                                           */
/*----------------------------------------------------------------------------------------------*/
/*                                                                                              */
/*  Name    :   Texts                                                                           */
/*  Version :   1.0.0                                                                           */
/*  Git     :   https://github.com/TuruncuInternetSolutions/pure.git                            */
/*                                                                                              */
/*  by Turuncu Internet Solutions                                                               */
/*  www.turuncuweb.net                                                                          */
/*                                                                                              */
/*----------------------------------------------------------------------------------------------*/
// User select mixin
/*----------------------------------------------------------------------------------------------*/
@mixin pure-user-select($value) {
    -webkit-user-select: $value;
    -moz-user-select: $value;
    -ms-user-select: $value;
}
/*----------------------------------------------------------------------------------------------*/
// Text select mixin
/*----------------------------------------------------------------------------------------------*/
@mixin pure-text-selection {
    &::selection {
        @content;
    }

    &::-moz-selection {
        @content;
    }
}
/*----------------------------------------------------------------------------------------------*/
// Placeholder mixin
/*----------------------------------------------------------------------------------------------*/
@mixin pure-placeholder {
    &::-webkit-input-placeholder {
        @content;
    }

    &:-moz-placeholder {
        @content;
    }

    &::-moz-placeholder {
        @content;
    }

    &:-ms-input-placeholder {
        @content;
    }
}
/*----------------------------------------------------------------------------------------------*/
/* Text shadow mixin*/
/*----------------------------------------------------------------------------------------------*/
@mixin pure-text-shadow( $shadow... ) {
    $shadow: if(length($shadow) > 0, $shadow, default);
    $shadows-without-spread: join((),(),comma);
    $shadows: join((),(),comma);
    $has-spread: false;

    @each $layer in $shadow {
        @if length($layer) > 4 {
            $has-spread: true;
            $shadows-without-spread: append($shadows-without-spread, nth($layer,1) nth($layer,2) nth($layer,3) nth($layer,5));
            $shadows: append($shadows, $layer);
        }
        @else {
            $shadows-without-spread: append($shadows-without-spread, $layer);
            $shadows: append($shadows, $layer);
        }
    }

    @if $has-spread {
        text-shadow: $shadows-without-spread;
    }

    text-shadow: $shadows;
}
/*----------------------------------------------------------------------------------------------*/
/* Text shadow black mixin*/
/*----------------------------------------------------------------------------------------------*/
@mixin pure-text-shadow-black($opacity, $size: 1px) {
    text-shadow: rgba(255, 255, 255, $opacity) 0 $size 0;
}
/*----------------------------------------------------------------------------------------------*/
/* Long Shadow */
/*----------------------------------------------------------------------------------------------*/
/*  @include pure-text-shadow(pure-long-shadow(darken($bg,30%),$bg,50, 0.5));  */
/*----------------------------------------------------------------------------------------------*/
@function pure-long-shadow($color_a,$color_b,$stepnum, $opacity: 1) {

    $gradient_steps: null;

    @for $i from 1 through $stepnum {

        $weight: ( ( $i - 1 ) / $stepnum ) * 100;

        $colour_mix: mix($color_b, rgba($color_a, $opacity), $weight);

        $seperator: null;

        @if($i != $stepnum) {
            $seperator: #{','};
        }

        $gradient_steps: append( #{$gradient_steps}, #{$i}px #{$i}px $colour_mix $seperator );

    }

    @return $gradient_steps;
}
/*----------------------------------------------------------------------------------------------*/
/* Long Shadow */
/*----------------------------------------------------------------------------------------------*/
/*  @include pure-text-3d();  */
/*----------------------------------------------------------------------------------------------*/
@mixin pure-text-3d() {
    text-shadow: 0 1px 0 hsl(174,5%,80%), 0 2px 0 hsl(174,5%,75%), 0 3px 0 hsl(174,5%,70%), 0 4px 0 hsl(174,5%,66%), 0 5px 0 hsl(174,5%,64%), 0 6px 0 hsl(174,5%,62%), 0 7px 0 hsl(174,5%,61%), 0 8px 0 hsl(174,5%,60%), 0 0 5px rgba(0,0,0,.05), 0 1px 3px rgba(0,0,0,.2), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.2), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.3);
}
/*----------------------------------------------------------------------------------------------*/
/*  @include pure-text-slide-underline(1px, #ff0000, 0.5, right);  */
/*----------------------------------------------------------------------------------------------*/
@mixin pure-text-slide-underline($height: 1px, $color: #000, $duration: 0.5s, $slideTo: right) {
    display: inline-block;
    position: relative;
    padding-bottom: $height;

    @if $slideTo == right {
        &:after {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            height: 0;
            width: 0;
            background: transparent;
            height: $height;
            left: 0;
            -webkit-transition: width $duration ease, background-color $duration ease;
            -moz-transition: width $duration ease, background-color $duration ease;
            transition: width $duration ease, background-color $duration ease;
        }
    }
    @elseif $slideTo == center {
        &:after {
            content: '';
            display: block;
            height: $height;
            width: 0;
            background: transparent;
            margin: auto;
            -webkit-transition: width $duration ease, background-color $duration ease;
            -moz-transition: width $duration ease, background-color $duration ease;
            transition: width $duration ease, background-color $duration ease;
        }
    }
    @else {
        &:after {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            height: 0;
            width: 0;
            background: transparent;
            height: $height;
            right: 0;
            -webkit-transition: width $duration ease, background-color $duration ease;
            -moz-transition: width $duration ease, background-color $duration ease;
            transition: width $duration ease, background-color $duration ease;
        }
    }

    &:hover {
        text-decoration: none !important;

        &:after {
            width: 100%;
            background: $color;
        }
    }
}


/*----------------------------------------------------------------------------------------------*/
/*  @include pure-text-slide-row(#ede502, 0.5s, right);  */
/*----------------------------------------------------------------------------------------------*/
@mixin pure-text-slide-row( $background-color: #ede502, $duration: 0.5s, $slideTo: right) {
    display: inline-block;
    position: relative;
    z-index: 1;


    @if $slideTo == right {
        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            top: 0;
            width: 0;
            z-index: -1;
            background-color: $background-color;
            left: 0;
            -webkit-transition: width $duration ease, $duration ease;
            -moz-transition: width $duration ease, $duration ease;
            transition: width $duration ease, $duration ease;
        }
    }
    @elseif $slideTo == center {
        &:after {
            content: '';
            /* display: none; */
            width: 0;
            position: absolute;
            height: 25px;
            z-index: -1;
            background-color: #ff6a00;
            margin: 0 auto;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            -webkit-transition: width $duration ease, $duration ease;
            -moz-transition: width $duration ease, $duration ease;
            transition: width $duration ease, $duration ease;
        }
    }
    @else {

        &:after {
           content: '';
            position: absolute;
            bottom: 0;
            top: 0;
            width: 0;
            z-index: -1;
            background-color: $background-color;
            right: 0;
            -webkit-transition: width $duration ease, $duration ease;
            -moz-transition: width $duration ease, $duration ease;
            transition: width $duration ease, $duration ease;
        }
    }

    &:hover {
        text-decoration: none !important;

        &:after {
            width: 100%;
            // background-color: $background-color;
        }
    }
}
/*----------------------------------------------------------------------------------------------*/
/*  @include pure-gradient-text('linear-gradient(to right,#23966c, #faaa54, #e23b4a, #db0768, #360670)', 'dark');  */
/*----------------------------------------------------------------------------------------------*/
@mixin pure-gradient-text($gradient, $bgColor: #fff) {
    @supports(mix-blend-mode: lighten) {
        display: inline-block;
        position: relative;
        background: $bgColor;

        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: unquote($gradient);
            pointer-events: none;
        }

        @if (lightness($bgColor) > 50) {
            color: #000;
            mix-blend-mode: multiply;

            &::before {
                mix-blend-mode: screen;
            }
        }
        @else {
            color: #fff;
            mix-blend-mode: lighten;

            &::before {
                mix-blend-mode: multiply;
            }
        }
    }
}
