

/*----------------------------------------------------------------------------------------------*/
// Unstyled list
/*----------------------------------------------------------------------------------------------*/
@mixin pure-list-unstyled() {
    list-style: none;
    margin: 0;
    padding: 0;
}
/*----------------------------------------------------------------------------------------------*/
// Inline list
/*----------------------------------------------------------------------------------------------*/
@mixin pure-list-inline() {
    @include pure-list-unstyled();

    > li {
        display: inline-block;
    }
}
